data224/ filter=lfs diff=lfs merge=lfs -text
model filter=lfs diff=lfs merge=lfs -text
hef/ filter=lfs diff=lfs merge=lfs -text
model_h8l.har filter=lfs diff=lfs merge=lfs -text
*.whl filter=lfs diff=lfs merge=lfs -text
